<script>
	import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';

	/**
	 * @type {any[] | null}
	 */
	let forums;

	// $: filteredForums = forums?.filter((element) => element.title.includes(searchText));

	/**
	 * @type {string}
	 */
	let title;
	/**
	 * @type {string}
	 */
	let name;

	/**
	 * @type {string}
	 */
	let detail;

	async function getForums() {
		//select * from forum
		let { data, error: err } = await supabase
			.from('forum')
			.select('*')
			.order('created_at', { ascending: false });
		forums = data;
	}

	/**
	 * @param {string} id
	 * @param {number} votes
	 */
	async function voteUp(id, votes) {
		//update forum set votes = 100 where id = 23
		let { data, error } = await supabase
			.from('forum')
			.update({
				votes: votes + 1
			})
			.eq('id', id);
		getForums();
	}

	/**
	 * @param {string} id
	 * @param {number} votes
	 */
	async function voteDown(id, votes) {
		//update forum set votes = 100 where id = 23
		let { data, error } = await supabase
			.from('forum')
			.update({
				votes: votes - 1
			})
			.eq('id', id);
		getForums();
	}

	/**
	 * @param {any} id
	 */
	async function deleteForum(id) {
		let { data, error } = await supabase.from('forum').delete().eq('id', id);
		getForums();
	}

	/**
	 * @param {string} id
	 * @param {number} view
	 */
	 async function movetoView(id,view){
		let { data, error } = await supabase
			.from('forum')
			.update({
				view: view + 1
			})
			.eq('id', id);
		getForums();
		
	}

	async function postNewForum() {
		//insert into forum (title, posted_by, detail, votes)
		//values ("halo", "levi", "test halo", 0)
		let { data, error } = await supabase.from('forum').insert({
			title: title,
			posted_by: name,
			detail: detail,
			votes: 0
		});
		getForums();
	}

	onMount(function () {
		getForums();
	});
</script>

<!-- {#if forums}
	{#each forums as forum}
		<div
			class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
		>
			<a href="/forums/{forum.id}">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
					{forum.title}
				</h5>
			</a>
			<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{forum.detail}</p>
			<a
				href="#"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
			>
				Read more
				<svg
					aria-hidden="true"
					class="w-4 h-4 ml-2 -mr-1"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
					><path
						fill-rule="evenodd"
						d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
						clip-rule="evenodd"
					/></svg
				>
			</a>
		</div>
	{/each}
{/if} -->

<!-- The button to open modal -->
<label for="my-modal" class="btn btn-primary mt-5 ml-96 ">Create foruMah!</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
	<div class="modal-box">
		<label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
			>Title</label
		>
		<input
			type="text"
			id="title"
			class="input input-bordered input-primary w-full max-w-xs"
			placeholder="Type Title Here"
			bind:value={title}
			required
		/>
		<label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
			>Name</label
		>
		<input
			type="text"
			id="title"
			class="input input-bordered input-primary w-full max-w-xs"
			placeholder="Type Your Name"
			bind:value={name}
			required
		/>
		<label for="detail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
			>Your Detail</label
		>
		<textarea
			id="detail"
			rows="4"
			class="textarea textarea-primary"
			placeholder="Write your thoughts here..."
			bind:value={detail}
		/>
		<div class="modal-action">
			<button class="btn btn-secondary" on:click={postNewForum}>Submit</button>
			<label for="my-modal" class="btn">Close</label>
		</div>
	</div>
</div>

<div class="w-3/5 mt-10">
	<br />
	<h2 class="text-3xl text-bold mb-5 ml-80">FORUMS</h2>
	<br />
	{#if forums}
		{#each forums as forum}
			<!-- <h1 class="text-xl">Forums</h1>
		<input class="p-2 m-2 border rounded" placeholder="Title to search" /> -->
			<div class="card w-full bg-base-100 shadow-xl mb-10 ml-96">
				<div class="card-body">
					<h2 class="card-title">
						<a href="/forums/{forum.id}" on:click={() => movetoView(forum.id, forum.view)}>
							{forum.title}
						</a></h2>
					<p class="text-gray-500" >{forum.votes} Votes</p> 
					<p class="text-gray-500">{forum.view} View</p>
					<p>{forum.detail}</p>
					<small class="mb-3 font-normal text-gray-700 dark:text-gray-400"
						>Posted by: {forum.posted_by}</small
					>
					<div class="flex">
						<button
							on:click={() => voteUp(forum.id, forum.votes)}
							class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
							>Up</button
						>
						<button
							on:click={() => voteDown(forum.id, forum.votes)}
							class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
							>Down</button
						>
						<button
							on:click={() => deleteForum(forum.id)}
							class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900"
							>Delete</button
						>
					</div>
				</div>
			</div>
		{/each}
	{/if}
	<!-- {#if forums}
			{#each forums as forum}
				<div class="p-3">
					<h2 class="text-lg text-blue-600">
						<a href="/forums/{forum.id}">
							{forum.title}
						</a>
					</h2>
					<p class="text-gray-500">{forum.votes} Votes</p>
					<p>{forum.detail}</p>
					<small>Posted by: {forum.posted_by}</small>
					<div class="flex">
						<button
							on:click={() => voteUp(forum.id, forum.votes)}
							class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
							>Up</button
						>
						<button
							on:click={() => voteDown(forum.id, forum.votes)}
							class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
							>Down</button
						>
						<button
							on:click={() => deleteForum(forum.id)}
							class="text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:focus:ring-yellow-900"
							>Delete</button
						>
					</div>
				</div>
			{/each}
		{/if} -->
</div>
