<script>
	import { supabase } from '$lib/supabaseClient';

	let loading = false;
	let email = '';

	const handleLogin = async () => {
		try {
			loading = true;
			const { error } = await supabase.auth.signInWithOtp({ email });
			if (error) throw error;
			alert('Check your email for the login link!');
		} catch (error) {
			if (error instanceof Error) {
				alert(error.message);
			}
		} finally {
			loading = false;
		}
	};
</script>

<form  on:submit|preventDefault={handleLogin}>
<div class="hero min-h-screen" style="background-image: url(https://placeimg.com/1000/800/arch);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="mb-5">Sign in via magic link with your email below</p>
        <input
            class="input input-bordered input-primary w-full max-w-xs mb-5"
				type="email"
				placeholder="Your email"
				bind:value={email}
			/>
            <div>
                <input
                    type="submit"
                    class="btn btn-primary"
                    value={loading ? 'Loading' : 'Send magic link'}
                    disabled={loading}
                />
            </div>
      </div>
    </div>
  </div>
</form>

<!-- <form class="p-4" on:submit|preventDefault={handleLogin}>
	<div>
		<h1 class="text-xl">Authentication</h1>
		<p class="">Sign in via magic link with your email below</p>
		<div class="py-2">
			<input
            class="input input-bordered input-primary w-full max-w-xs"
				type="email"
				placeholder="Your email"
				bind:value={email}
			/>
		</div>
		<div>
			<input
				type="submit"
				class="btn btn-primary"
				value={loading ? 'Loading' : 'Send magic link'}
				disabled={loading}
			/>
		</div>
	</div>
</form> -->
