<div class="overflow-x-auto p-10">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr >
          <th class="bg-primary"></th>
          <th class="bg-primary">Name</th>
          <th class="bg-primary">Area</th>
          <th class="bg-primary">Type</th>
          <th class="bg-primary">Price</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <th>1</th>
          <td>Raya Maya Residence</td>
          <td>69-79 m2</td>
          <td>Tipe 45</td>
          <td>340-670 Juta</td>
        </tr>
        <!-- row 2 -->
        <tr>
            <th>2</th>
            <td>Parahayangan Komp</td>
            <td>12-34 m2</td>
            <td>Tipe 15</td>
            <td>140-170 Juta</td>
          </tr>
        <!-- row 3 -->
        <tr>
            <th>3</th>
            <td>Masandy Graha Cempaka</td>
            <td>40-79 m2</td>
            <td>Tipe 35</td>
            <td>340-470 Juta</td>
          </tr>
        <!-- row 4 -->
          <tr>
            <th>4</th>
            <td>Caroline Forista</td>
            <td>56-79 m2</td>
            <td>Tipe 25</td>
            <td>290-370 Juta</td>
          </tr>
        <!-- row 5 -->
          <tr>
            <th>5</th>
            <td>Grha Saba Pramana</td>
            <td>56-78 m2</td>
            <td>Tipe 55</td>
            <td>740-870 Juta</td>
          </tr>
      </tbody>
    </table>
  </div>